<% if (id) { %>
 <!-- container 
<li><a href="#" class="side-upload"><i class="fa fa-cloud-upload side-upload"></i>CREATE COMICS</a></li>
<li><a href="premium.html"><i class="fa fa-star"></i>premium</a></li>
<li><a href="#"><i class="fa fa-book"></i>academy</a></li>
<li><a href="creator.html"><i class="fa fa-magic"></i>creator</a></li>
<li><a href="#"><i class="fa fa-bookmark"></i>reading list</a></li>
<li><a href="#"><div class="buble">3</div><i class="fa fa-bell"></i>activity</a></li>
<li><a href="#"><i class="fa fa-money"></i>my wallets</a></li>
<li><a href="#"><i class="fa fa-cog"></i>setting</a></li>
--> 
<li><a href="http://sevel.co/demo/kosmik/premium.html"><i class="fa fa-star"></i>catalog</a></li>
 <li><a href="#"><i class="fa fa-book"></i>academy</a></li>
 <li><a href="#"><i class="fa fa-magic"></i>creator</a></li>
 <li><a href="#"><i class="fa fa-magic"></i>shop</a></li>

<% } else { %>

 <li><a href="http://sevel.co/demo/kosmik/premium.html"><i class="fa fa-star"></i>catalog</a></li>
 <li><a href="#"><i class="fa fa-book"></i>academy</a></li>
 <li><a href="#"><i class="fa fa-magic"></i>creator</a></li>
 <li><a href="#"><i class="fa fa-magic"></i>shop</a></li>

<% } %>
