<% if (id) { %>
<li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/1.jpg" alt=""></li>
                 <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/2.jpg" alt=""></li>
                  <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/3.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/4.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/5.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/6.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/7.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/8.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/9.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/10.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/11.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/12.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/13.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/14.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/15.jpg" alt=""></li>
                  <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/16.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/17.jpg" alt=""></li>
                      <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/18.jpg" alt=""></li>
                       <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/19.jpg" alt=""></li>
                        <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/20.jpg" alt=""></li>
                         <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/21.jpg" alt=""></li>
                          <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/22.jpg" alt=""></li>
             


<% } else { %>

<li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/1.jpg" alt=""></li>
                 <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/2.jpg" alt=""></li>
                  <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/3.jpg" alt=""></li>
                   <li> <img src="http://sevel.co/demo/kosmik/_/img/premium/viewer/raibarong/eps3/4.jpg" alt=""></li>
            <li><div style="width:100%;height:50px;text-align:center;background:black;color:#fff;text-transform:uppercase;font-size:14px;padding-top: 13px;"><a href="#" class="login">Must Login to Continue</a></div></li>
<% } %>